<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    
    <target
      name="log"
      xsi:type="File"
      layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=-5}}] ${callsite}#${callsite-linenumber}() ${message} ${exception:format=tostring}"
      fileName="${basedir}/logs/current.log"
      encoding="UTF-8"
      archiveFileName="${basedir}/logs/archives/archive.{#}.log"
      archiveEvery="Month"
      archiveDateFormat="yyyyMM"
      archiveNumbering="Rolling"
      maxArchiveFiles="12" />
    <target
       name="error"
       xsi:type="File"
       layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=-5}}] ${callsite}#${callsite-linenumber}() ${message} ${exception:format=tostring}"
       fileName="${basedir}/logs/error.log"
       encoding="UTF-8"
       archiveFileName="${basedir}/logs/archives/archive.error.{#}.log"
       archiveEvery="Month"
       archiveDateFormat="yyyyMM"
       archiveNumbering="Rolling"
       maxArchiveFiles="12" />
    <target
      name="receiverlog"
      xsi:type="File"
      layout="${longdate} ${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false} ${message} ${exception:format=tostring}"
      fileName="${basedir}/logs/receivercurrent.log"
      encoding="UTF-8"
      archiveFileName="${basedir}/logs/receiverarchives/archive.{#}.log"
      archiveEvery="Month"
      archiveDateFormat="yyyyMM"
      archiveNumbering="Rolling"
      maxArchiveFiles="12" />
    <target
       name="receivererror"
       xsi:type="File"
       layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=-5}}] ${callsite}#${callsite-linenumber}() ${message} ${exception:format=tostring}"
       fileName="${basedir}/logs/receivererror.log"
       encoding="UTF-8"
       archiveFileName="${basedir}/logs/receiverarchives/archive.error.{#}.log"
       archiveEvery="Month"
       archiveDateFormat="yyyyMM"
       archiveNumbering="Rolling"
       maxArchiveFiles="12" />


  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="log"/>
    <logger name="*" levels="Error,Fatal" writeTo="error"/>
    <logger name="RECEIVER" minlevel="Info" writeTo="receiverlog"/>
    <logger name="RECEIVER" levels="Error,Fatal" writeTo="receivererror"/>
  </rules>
</nlog>
